/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap"); */

.mid-image{
    display: grid;
   margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 2%;

    
}
.mid-image-content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head-about{
    color:#ff004f;
    font-size: 40px;

}
.para-about{
    margin-top:8% ;
}

.mid-image-about {
    width: 40%;
    display: flex;
}

/* 2nd mid-section */
.second-mid-head {
    text-align: center;
    /* border: 2px solid white; */
    color: #ff004f;
    font-size: 60px;
    width: max-content;
    margin: auto;
}

.second-mid-images {
    display: grid;
    width: 80%;
    margin: 10px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.second-mid-img-section {
    width: 100%;
    /* border: 2px solid white; */
}

.second-mid-img-section img {
    width: 50%;
}

h3 {
    color: #ff004f;
    font-size: 35px;
}

p {
    color: white;
    font-size: 20px;
    /* font-style: italic; */
}

#about-us {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;


}

/* about us */
.about-us-img{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-image {
    width: 80%;
    /* margin: 9% auto auto 5%; */
}

.our-team-image {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

.our-team-image img {
    width: 90%;
}

.book-appointment-button {
    margin: 2%;
    text-align: center;
}

.appointment {
    background-color: #ff004f;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    /* border: 2px solid white; */
}

.appointment:hover {
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
}

/* project */

#projects {
    color: black;
    /* background: #ffffff; */
    margin-top: 3%;
}

.teams h5 {
    font-weight: 700;
    color: #07080B;

    transform: translateY(-65px);
}

.teams h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    transform: translateY(23px);
    /* opacity: 0.1; */
    /* padding-top: -20px; */
    margin-bottom: 6%;
    margin-top: -6%;
}

.teams .carousel .project-card {
    background: #ff004f;
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover {
    background: rgba(0, 0, 0, 0.149);
}

.teams .carousel .project-card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .project-card #text {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.date_project_card{
    color: #fff;
    font-size: 20px;
}
.teams .carousel .project-card img {
    /* height: 150px; */
    width: 250px;
    object-fit: cover;
    /* border-radius: 10%; */
    border: 5px solid black;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}


  @media (max-width: 1090px) {
      html {
          font-size: 50%;
        }
    
        .second-mid-images {
            grid-template-columns: repeat(3, 1fr);
        }
        
        .mid-image{
            grid-template-columns: repeat(1, 1fr); 
        }
    }
    
    @media (max-width: 750px) {   
    .second-mid-images {
        grid-template-columns: repeat(2, 1fr);
    }
    #about-us{
        grid-template-columns: repeat(1, 1fr);
    }
    .second-mid-head{
        font-size: 35px;
    }
      }

      @media (max-width: 450px) {
        html {
          font-size: 50%;
        }
        
    .second-mid-images {
        grid-template-columns: repeat(1, 1fr);
    }
      }