#login-container {
    background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80"); 
    padding: 1%;
    margin: -3%;
}


#logo {
    width: 20%;
    height: 8vh;
    margin-left: 38%;
  }
 #login-form{
 
    width: 50%;
    opacity: 0.9;
   margin: auto;
   margin-top: 30px;
   height: 100vh;
   padding-top: 0.5%;
   padding-bottom: 2%;
   font-family:cursive;
   background-color: whitesmoke;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 



#login-heading {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #FF004F; 
}

 #login-email-label, #login-password-label {
    width: 125%;
    height: 4vh;
    margin-left: 20%;
    font-size: large;
 }

 #login-email, #login-password {
    margin-top: 2%;
    width: 57%;
    height: 4vh;
    margin-left: 18%;
   border-radius: 20px;
   letter-spacing: 2px;
   padding-left: 4%;
   border: 2px solid black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #login-button {
    padding: 1%;
    width: 62%;
    margin-left: 18%;
    margin-top: 6%;
    border: 2px solid black;
    background-color: #FF004F;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 50px;
    height: 6vh;
    border-radius: 20px;
    cursor: pointer;
 }

 #create-an-account{
    padding: 1%;
    width: 60%;
    margin-left: 18%;
    margin-top: 2%;
    text-align: center;
    border: 2px solid black;
    background-color: #FF004F;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 60px;
    height: 3.5vh;
    border-radius: 20px;
    cursor: pointer;
 }

 #login-google-button {
    width: 63%;
    margin-left: 18%;
    /* margin-top: 1%; */
    height: 7vh;
    border-radius: 20px;
    cursor: pointer;
 }
 

  @media screen and (min-width: 300) and (max-width: 900px) {
     #login-container {
        background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80"); 
        padding: 1%;
        margin: -3%;
    }

    #logo {
        width: 100%;
        height: 4vh;
        margin-left: 38%;
      }
     #login-form{
     
        width: 50%;
        /* padding: 2%; */
       margin: auto;
       margin-top: 30px;
       height: 100vh;
       padding-top: 0.5%;
       padding-bottom: 2%;
       font-family:cursive;
       background-color: whitesmoke;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    } 
    
    
    
    #login-heading {
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        color: #FF004F; 
    }
    
     #login-email-label, #login-password-label {
        width: 125%;
        height: 4vh;
        margin-left: 20%;
        font-size: large;
     }
    
     #login-email, #login-password {
        margin-top: 2%;
        width: 57%;
        height: 4vh;
        margin-left: 18%;
       border-radius: 20px;
       letter-spacing: 2px;
       padding-left: 4%;
       border: 2px solid black;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
    
     #login-button {
        /* padding: 1%; */
        width: 62%;
        margin-left: 18%;
        margin-top: 6%;
        border: 2px solid black;
        background-color: #FF004F;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 50px;
        height: 6vh;
        border-radius: 20px;
        cursor: pointer;
     }
     #create-an-account{
        padding: 1%;
        width: 60%;
        margin-left: 18%;
        margin-top: 2%;
        text-align: center;
        border: 2px solid black;
        background-color: #FF004F;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 60px;
        height: 3.5vh;
        border-radius: 20px;
        cursor: pointer;
     }
    
     #login-google-button {
        width: 63%;
        margin-left: 18%;
        /* margin-top: 1%; */
        height: 7vh;
        border-radius: 20px;
        cursor: pointer;
     }
     
   
   }
   
   @media screen and (min-width: 100)and (max-width: 450px) {
    #login-container {
        background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80"); 
        padding: 1%;
        margin: -3%;
    }
    
    
    #logo {
        width: 20%;
        height: 8vh;
        margin-left: 38%;
      }
     #login-form{
     
        width: 50%;
        /* padding: 2%; */
       margin: auto;
       margin-top: 30px;
       height: 100vh;
       padding-top: 0.5%;
       padding-bottom: 2%;
       font-family:cursive;
       background-color: whitesmoke;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    } 
    
    
    
    #login-heading {
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        color: #FF004F; 
    }
    
     #login-email-label, #login-password-label {
        width: 125%;
        height: 4vh;
        margin-left: 20%;
        font-size: large;
     }
    
     #login-email, #login-password {
        margin-top: 2%;
        width: 57%;
        height: 4vh;
        margin-left: 18%;
       border-radius: 20px;
       letter-spacing: 2px;
       padding-left: 4%;
       border: 2px solid black;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
    
     #login-button {
        padding: 1%;
        width: 62%;
        margin-left: 18%;
        margin-top: 6%;
        border: 2px solid black;
        background-color: #FF004F;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 50px;
        height: 6vh;
        border-radius: 20px;
        cursor: pointer;
     }
     #create-an-account{
        padding: 1%;
        width: 60%;
        margin-left: 18%;
        margin-top: 2%;
        text-align: center;
        border: 2px solid black;
        background-color: #FF004F;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 60px;
        height: 3.5vh;
        border-radius: 20px;
        cursor: pointer;
     }
    
     #login-google-button {
        width: 63%;
        margin-left: 18%;
        /* margin-top: 1%; */
        height: 7vh;
        border-radius: 20px;
        cursor: pointer;
     }
     
     
   }