@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");


:root {
  --main-color: #FF1744
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

body {
  background: #000;
}

/* ........................................................................................................................................................................... */


section {
  padding: 2rem 5%;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, var(--main-color) 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #000;
}

.header .logo img {
  width: 150px;
  margin-top: 2px;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: var(--main-color);
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* .................................................Content..................................... */

#dashboard {
  margin-top: 50px;
}

#title {
  background-color: var(--main-color);
  text-align: center;
  padding: 1rem 0rem;
}


#dashboard #title h2 {
  font-size: 2rem;
  color: #fff;
  ;

}






/* .............................Multiple Screen ........................... */

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }

  .header {
    padding: 0 2rem;
  }



}

@media (max-width: 768px) {

  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }

  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header {
    padding: 2rem;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    font-size: 2rem;
  }

  #dashboard {
    margin-top: 75px;
  }



}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}


/* ..................................................Classe Info................................................... */


.cancel-btn{
  padding: 0.8rem;
  background: red;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}


.update-btn{
  padding: 0.8rem;
  background-color: #e7e7e7; color: black;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  max-width: 7rem;
  max-height: 4rem;
}

h4{
  padding-bottom: 7px;
}
#renderallinfo{
  margin-bottom: 50px !important;
}
#classalldesc{
  margin: 20px 0px !important;
  /* background-color:#fff; */
  color:#fff ;
  /* font-size: 1.5rem; */
  /* border: 1px solid green; */

}

.heading {
  text-align: center;
  margin: 3rem 0;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 2rem;
  color: #ff004f;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

#classDetHead{
  background-color:#b9d8d5;
  width: 95%;
  margin: auto;
  padding: 5px  0px;
  text-align: center;
  margin-top: 2%;
}
#renderallinfo{
  width: 95%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 10px;
  padding: 10px;
  /* border: 1px solid green; */

}
#activityimg{
  width: 100%;
  /* height: 350px; */
  margin-top: 50px;
}
/* @media(min-width: 700px) and (max-width: 1000px){
  #activityimg{
      width: 100%;
      height: 300px;
  }
}
@media(min-width:400px) and (max-width: 699px){
  #activityimg{
      width: 100%;
      height: 200px;
  }
} */
/* @media(min-width:40px) and (max-width: 399px){
  #activityimg{
      width: 100%;
      height: 100px;
  }
} */
#infoall{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#infoclass{
  width: 100%;
  /* background-color: green; */
}
#classdetailid{
  background-color:#b9d8d5;
  width: 90%;
  padding: 5px  0px;
  margin-top: 2%;
  padding-left: 2%;
}

#onlyclassinfo{
  width: 100%;
 display: flex; 
 /* justify-content: space-between; */
 /* background-color: red; */
 margin-top:35px;
 padding-left: 2%;
 color: #fff;
 font-size: 1.7rem;
}

#classheads{
  margin: auto;
}


#infomode{
  width:100%;
  /* background-color: yellowgreen; */
}

#modetitle{
  background-color:#b9d8d5;
  width: 90%;
  padding: 5px  0px;
  margin-top: 2%;
  padding-left: 2%;
}
#modeimg{
  margin-top: 33px;
  width: 90%;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#infotrainer{
  width: 100%;
  /* background-color: aqua; */
}
#tainertitle{
  background-color:#b9d8d5;
  width: 90%;
  padding: 5px  0px;
  margin-top: 2%;
  padding-left: 2%;
}
#trainermaininfo{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 30px;
 font-size: 1.7rem;
 color: #fff;
}
#trainermaininfo img{
  width: 112px;
  height: 112px;
  margin-bottom: 2    0px;
}

#trainerimg{
  width: 100px;
  height: 100px;    border-radius: 50%;
  margin-top: 2%;
  object-fit:cover;
}
#trainerdetails{
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin-top: 2%;

}

@media(min-width:561px) and (max-width: 830px){
 #infoall{
  grid-template-columns: repeat(2,1fr);
 }
}

@media(min-width:20px) and (max-width: 560px){
  #infoall{
   grid-template-columns: repeat(1,1fr);
  }
}

#classalldesc{
 display: flex;
 align-items: center;
}
#imgandjoinbtn{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#descimg{
  text-align: center;
}
#descjoin{
  display: flex;
  justify-content: center;
}
#joinclassdesc{
  padding: 0.5rem 2.5rem;
  margin: 0px 10px;
  border: none;
  background-color: #b9d8d5;
  border-radius: 5px;
  /* font-weight: bolder; */
}
#joinclassdesc:hover{
  background-color:#beebe5;
  cursor: pointer;
}
#descdesc p{
  font-size: 1.6rem;
}

@media(min-width:70px) and (max-width: 1230px){
  #imgandjoinbtn{
      flex-direction: column;
      width: 30%;
  }
  #descdesc{
      width: 60%;
  }
}
@media(min-width:780px) and (max-width: 1110px){

   #joinclassdesc{
      padding: 5px 30px;
   }
}
@media(min-width:570px) and (max-width: 779px){
   #joinclassdesc{
      padding: 5px 20px;
   }
}
@media(min-width:20px) and (max-width: 570px){
   #joinclassdesc{
      padding: 5px 20px;
   }
}
@media(min-width:20px) and (max-width: 460px){
   #classalldesc{
      flex-direction: column;
   }
   #imgandjoinbtn{
      width: 100%;
   }
   #descdesc{
      width: 100%;
   }

   #descjoin{
    margin-bottom: 10px;
   }
}

img{
  object-fit:cover !important;
}